/*GENERAL TAGS: aqui van los estilos aplicados a los tags de html*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
    font-family: 'Open Sans', sans-serif;
    font-style: Regular;
    font-size: 14px;
    line-height: 20px;
    color: #595959;
    overflow: hidden;
}

button:hover{
    cursor: pointer;
}

a:hover{
    cursor: pointer;
}

ul>li>ul{
    padding-left: 26px;
}

h1 {
    font-weight: bold;
    font-size: 25px;
    line-height: 32px;
    margin: 10px 0;
    align-content: Left;
    fill: black;
    color: #fff;
}

h2 {
    font-size: 30px;
    line-height: 41px;
    align-content: left;
    fill: Solid rgba(0, 0, 0, 0.87);
}

h3 {
    font-size: 24px;
    line-height: 24px;
    align-content: left;
    fill: Solid rgba(0, 0, 0, 0.87);
}

h4 {
    font-size: 18px;
    line-height: 24px;
    align-content: Left;
    fill: Solid rgba(0, 0, 0, 0.87);
}

h5 {
    font-style: semibold;
    font-size: 14px;
    line-height: 20px;
    align-content:Left;
    fill: Solid rgba(0, 0, 0, 0.87);
}

h6 {
    font-size: 12px;
    line-height: 16px;
    align-content: Left;
    fill: Solid rgba(0, 0, 0, 0.87);
}

/*body headlines: p? */

p {
    align-content:left;
    fill: Solid rgba(0, 0, 0, 0.87);
}

/*GRID: */


.body-container{
    display: flex;
}

.panel-menu{
    width: 240px;
    padding: 60px;
    background-color:#151515;
    transition: width 0.05s;
}

.panel-menu--hide{
    width: 0px;
    padding: 0px;
    transition: width 0.2s;
}
.panel-menu--hide nav{
    display: none;
}

/*aside.panel-nav:hover{
    display:none;
}*/

.panel-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    padding: 20px;
    background-color: #36348C;
    background: linear-gradient(90deg, #A12169 0%, #36348C 100%);
}

.panel-header>div{
    display: flex;
    align-items: center;
}
.panel-header div img{
    width: 120px;
    margin-left: 20px;
}


.panel-header nav{

    width: 120px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.header-page{
    background-color: #151515;
    padding: 10px 20px;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: white;
}

.header{

}

.page{
    overflow-y: scroll;
    height: 82vh;
}

.box-container{
    width: 515px;
    margin: 40px auto;
    background: #F1F1F1;
    padding: 10px 30px 30px 20px;
}

table{
    background: #fff !important;
}

/*COMPONENTS:*/

/*profile info*/

.avatar{
    width: 33px;
    height: 33px;
    background-color: palevioletred;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #F1F1F1;
    border: 0px solid #000;
}

.dropdown-profile__avatar{
    width: 44px;
    height: 44px;
    font-size: 22px;
}

.tag{
    background-color: #36348C;
    padding: 4px 8px;
    color: #fff;
    font-size: 11px;
    border-radius: 8px;
    margin: 5px !important;
}

.dropdown-profile__actions{
    display: flex;
    align-items: center;
}

.profile-info{
    width: 300px;
    height: auto;
    background-color: white;
    position: absolute;
    right: 20px;
    top: 60px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05), 0px 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    padding: 20px;
    opacity: 1;
}



.profile-info--hide{
    opacity: 0;
    /*display: none;*/
    /*transition: opacity 1s ease-out;*/
    /*display: none;*/
    transform: translateX(200px);
    transition: all .2s ease-out;
}

.dropdown-profile__info{
    margin-left: 20px;
    width: 80%;
}
.dropdown-profile__info h3{
    display: inline-block;
    margin: 5px 0;
}
.dropdown-profile__actions{
    display: flex;
    justify-content: space-between;
}

/*buttons*/

.button{
    padding: 10px 20px;
}

.button:hover,select:hover{
    cursor: pointer;
}

.button--principal{
    background-color: rgb(39, 135, 204);
    color: #fff;
    border: 2px solid #2E9DEB;
}

.button--principal:hover{
    background-color:#2E9DEB;
}

.button--secundario{
    background-color: rgba(0 ,0, 0, 0);
    border-radius: 4px;
    padding: 4px 8px;
    border: 1px solid #BCBCBC;
        padding: 10px;
}

.button--dashboard{
  width: 47%;
  /* text-align: left; */
  background-color: #fff;
  border: 2px solid #f1f1f1;
  margin: 5px 5px;
  float: left;
}
.button--dashboard a{
      font-size: 16px;
  color: #8F2570;
  font-weight: 600;
  }

.button--dashboard:hover{
      background-color: #f1f1f1;
}

.button--dashboard:hover a{
      background-color: #f1f1f1;
        color: #8F2570;
}

.button--add-item{
    background-color: transparent;
    color: #2E9DEB;
    border: none;
    padding: 1px 6px;
    font-size: 14px;
}

div.form-row.buttons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

div.form-row.buttons .button--secundario{
    border: none;
    padding-right: 20px;
    font-weight: 600;
    color: #b8b8b8;
}


/* Input error */
form .form-group input.input_error, select.input_error{
border: 0.5px solid rgba(255, 0, 0, 0.3);
box-shadow: 0px 0px 4px 0px rgba(255, 0, 0, .6);
}

/**/

#button-nav-collapse{
    padding: 5px 10px;
    color: #fff;
    background-color: rgba(196, 196, 196, 0.38);
    border: 1px solid #fff;
}

/*links*/

a{
    color: #e6e6e6;
    text-decoration: none;
}

a:hover{
    color: white;
    text-decoration: none;

}

.panel-menu nav ul li{
    margin: 15px 0;
}

a.link-brand{
    color: #A12169;
    font-weight: 900;
}

/*form*/



.form-row{
    width: 100%;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.form-group{
    display: inline-block;
    width: 100%;
}

.form-group-2{
    width: 47.66%;
}

.form-group-3{
    width: 30%;
}

form .form-group label{
    display: block;
    width: 100%;
    font-size: 12px;
    font-weight: 900;
    margin-bottom: 5px;
}

form .form-group label span{
    margin-left: 2px;
    color: #FF0000;
}

form .form-group input,select{
    width: 100%;
    height: 30px;
    padding-left: 10px;
    border: 1px solid #E5E5E5;
    font-size: 12px;
    color: #585858;
    border-radius: 3px;
}

/*table*/

.box-container.table-list{
    width: initial;
}

table input{
    /*padding: 10px;
    width: 100%;
    border-radius: 4px;*/


    width: 100%;
    height: 30px;
    padding-left: 10px;
    border: 1px solid #E5E5E5;
    font-size: 12px;
    color: #585858;
    border-radius: 3px;

}

tbody{
    background-color: white;
}

th, td{
    padding: 15px 20px 10px 20px;
    text-align: left;
}

th{
    font-weight: 900;
}

thead tr{
    border-bottom: 2px solid #D6D6D6;
}

.table-actions a{
    color:#2E9DEB;
}


/*PROFILE IMAGE EDIT*/

body {
    background: whitesmoke;
    font-family: 'Open Sans', sans-serif;
  }
  /*.container {
    max-width: 960px;
    margin: 30px auto;
    padding: 20px;
  }*/
  h1 {
    font-size: 20px;
    text-align: center;
    /*margin: 20px 0 20px;*/
  }
  h1 small {
    display: block;
    font-size: 15px;
    padding-top: 8px;
    color: gray;
  }
  .avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 50px auto;
  }
  .avatar-upload .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
  }
  .avatar-upload .avatar-edit input {
    display: none;
  }
  .avatar-upload .avatar-edit input + label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .avatar-upload .avatar-edit input + label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
  }
  /*.avatar-upload .avatar-edit input + label:after {
    content: "\f040";
    font-family: 'FontAwesome';
    color: #757575;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
  }*/
  .avatar-upload .avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  }
  .avatar-upload .avatar-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }


/*END PROFILE IMAGE EDIT*/



/*TOOLTIP*/

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black;*/ /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    visibility: hidden;
    width: 120px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
/*.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}*/

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/*UTILITIES: */

/*LOGIN*/

.body-login{
    display: flex;
    flex-direction: column;
    height: 100vh !important;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #A12169 0%, #36348C 100%);
}

.container-login__form input{
    width: 100%;
    height: 30px;
    padding: 3px 10px;
    border: 1px solid #E5E5E5;
    font-size: 12px;
    color: #585858;
    border-radius: 3px;
}

.container-login__form{
  /* display: flex; */
  /* flex-direction: column; */
  /* align-self: auto; */
}

.body-login__container{
  border-radius: 8px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 260px;
  /*height: 321px;*/
  padding: 20px 30px;
  align-items: center;
}

.container-login__name{
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.credits-klokwerk{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.container-login{
  width: 100%;
}

.body-login__container button{

    width: 100%;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
}

.credits-klokwerk__1{
    color: #BDBDBD;
    font-weight: bold;
    font-size: 12px;
}

.credits-klokwerk__2{
    color: #E5E5E5;
    font-weight: bold;
    font-size: 16px;
}

.hidden{
    display: none;
}

/************************************/

.profile-info.profile-info--dashboard {
    position: static;
    width: auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 1px 0px 8px 1px rgba(0,0,0,0.3);
    margin: 10px;
}

.box-container-dashboard{
    padding: 40px;
    display: flex;
        flex-direction: column;
}

.avatar.dropdown-profile__avatar {
    width: 80px;
    height: 80px;
    border-radius: 50px;
}

.dashboard-row{
    display: flex;
    flex-direction: row;
}
.dashboard-column{

  padding: 15px;
  border-radius: 10px;
  box-shadow: 1px 0px 8px 1px rgba(0,0,0,0.3);
  margin: 10px;

      width: 50%;
}
.dashboard-column h2{
     margin-bottom: 15px;
     }
.card-perfil-dashboard{

}
.dashboard-column>a{
  color: #8F2570;
  width: 47%;
  /* text-align: left; */
  background-color: #fff;
  margin: 10px 5px;
  float: left;
  font-weight: 600;
}

.dashboard-column>a:hover{
  color: #6B1853;
}

.dashboard-column>a>i{
  margin-right:5px;
}
